body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: black;
}

.container {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -999;
  transform: scale(1.02);
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  z-index: 1;
}

h1 {
  font-size: 4em;
  margin-bottom: 1rem;
}

p:first-child {
  font-style: italic;
  margin-bottom: 1rem;
}

.thought-cloud {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  margin-bottom: 1rem;
}

.thought-cloud span {
  margin: 0 1rem;
}

form {
  display: flex;
  margin-top: 2rem;
}

input[type="email"] {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 1rem;
  margin-right: 1rem;
}

button[type="submit"] {
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: #000033;
  font-size: 1rem;
  cursor: pointer;
}

.thought-cloud {
  animation: box-shadow-pulse 4s infinite ease-in-out;
  box-shadow: 1px -1px 4px 0px rgba(148, 145, 145, 0.82);
}

@keyframes box-shadow-pulse {
  0% {
    box-shadow: 1px -1px 4px 0px rgba(148, 145, 145, 0.82); /* Starting shadow */
  }
  50% {
    box-shadow: 1px -1px 8px 0px rgba(148, 145, 145, 0.5); /* Increased shadow size */
  }
  100% {
    box-shadow: 1px -1px 4px 0px rgba(148, 145, 145, 0.82); /* Back to starting shadow */
  }
}

@media only screen and (max-width: 768px) {
  /* Styles for mobile devices */
  h1 {
    font-size: 3em; /* Adjust heading size for mobile */
  }

  .content {
    padding: 1rem; /* Adjust content padding for mobile */
  }

  .thought-cloud {
    font-size: 0.8rem; /* Adjust text size for thought cloud on mobile */
  }

  /* Add more styles as needed for mobile responsiveness */
}

.logo {
  width: 100px; /* Adjust logo width */
  height: auto;
}

/* Media Queries for Mobile Responsiveness */

@media only screen and (max-width: 768px) {
  .logo {
    width: 80px; /* Adjust logo width for mobile */
  }
}

/* Dark Mode */
.dark-mode .thought-cloud {
  background-color: rgb(0 0 0 / 0%);
}

.dark-mode h1 {
  text-shadow: 0 0 3px rgb(0 0 0 / 30%);
}

.dark-mode .content {
  color: black;
  background: #00000014;
}

.dark-mode body {
  background: #ffffff;
}

.dark-mode .background {
  -webkit-filter: invert(100%) blur(20px); /* Safari 6.0 - 9.0 */
  filter: invert(100%) blur(20px);
}

/* Light Mode */
.light-mode .thought-cloud {
  background-color: rgba(255, 255, 255, 0.2);
}
.light-mode h1 {
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3);
}
.light-mode .content {
  color: white;
  background: #ffffff14;
}
.light-mode body {
  background: black;
}
.light-mode .background {
  -webkit-filter: invert(0%) blur(20px); /* Safari 6.0 - 9.0 */
  filter: invert(0%) blur(20px);
}
